<h1>Welcome to Coupler!</h1>

<p>
  Coupler is an application for linking your data.
</p>
<br/>

<h2>Getting Started</h2>

<p>
  To get started, first you need to <a href="/connections/new">create a connection</a>.  Connections tell Coupler how to connect to your databases. <!-- If you don't have any your data in a database and wish to import a CSV file, you can skip to <a href="/projects/new">creating a project</a>. -->
</p>
