<% if @matchers.empty? %>
<p>There are currently no matchers for this scenario.</p>
<% else %>
<table class="list">
  <thead>
    <tr>
      <th>Type</th>
      <th>Options</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @matchers.each do |matcher| %>
    <tr>
      <td><%=h matcher.comparator_name %></td>
      <td><%=h matcher.comparator_options.inspect %></td>
      <td><%= delete_link("Delete", "/projects/#{@project.id}/scenarios/#{@scenario.id}/matchers/#{matcher.id}") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
