<h1>Welcome to Coupler!</h1>

Coupler is an application for linking your data.  Got data?  Link it with
Coupler, wee!!

<h2>Getting Started</h2>

To get started, first you need to <a href="/projects/new">create a project</a>.
