<!DOCTYPE html>
<html>

<head>
<title>Coupler</title>
<link rel="stylesheet" type="text/css" href="/normalize.css" />
<link rel="stylesheet" type="text/css" href="/style.css" />
<script type="text/javascript" src="/jquery-1.10.2.min.js"></script>
</head>

<body>
  <section id="main">
    <header>
      <h1>Coupler</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/files">Files</a></li>
      </ul>
    </nav>

    <section id="content">
      <% if flash('notice') %>
        <section id="notice" class="<%= flash('notice_class') %>"><%= flash('notice') %></section>
      <% end %>
      <%= yield %>
    </section>

    <div style="clear: left;"></div>
</body>

</html>
