<form method="post" action="/resources/create">
  <p>
    <label for="adapter">Adapter</label><br/>
    <select id="adapter" name="adapter">
      <option value="mysql">MySQL</option>
    </select>
  </p>
</form>
