div.fields {
  display: table;
  margin-bottom: 10px;
}

div.fields > div {
  display: table-row;
}

div.fields > div > input,
div.fields > div > label {
  display: table-cell;
}

#sidebar > ul {
  margin: 1em 0 0 0;
  padding: 0;
  width: 150px;
  list-style-type: none;
}
#sidebar > ul > li {
  margin: 5px 0;
}
#sidebar > ul > li > a {
  color: #ddd;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
  font-size: larger;
}
