<h2>Group #<%= @group[:id] %></h2>
<div class="section">
  <%- if @resources.length > 1 -%>
    <div class="result-fields">
      <%- @resources.each do |resource| -%>
        <%- resource.final_dataset do |ds| -%>
          <ul>
            <%- ds.columns.each do |column| -%>
              <li><%= column %></li>
            <%- end -%>
          </ul>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
  <div id="result-group-left" class="result-group">
  </div>
  <div id="result-group-right" class="result-group">
  </div>
</div>
<script type="text/javascript">
</script>
