<table>
  <tr>
    <th>Name</th>
    <th>Adapter</th>
    <th>Host</th>
    <th>Database</th>
  </tr>
<% @databases.each do |database| %>
  <tr>
    <td><%= database[:name] %></td>
    <td><%= database[:adapter] %></td>
    <td><%= database[:host] %></td>
    <td><%= database[:dbname] %></td>
  </tr>
<% end %>
</table>
<p>
  <a href="/databases/new">New database</a> |
  <a href="/">Home</a>
</p>
