body {
  background: #555;
  font-family: verdana, arial, helvetica, sans-serif;
}

#main {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  background: white url(/images/sidebar.png) left repeat-y;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#sidebar {
  color: white;
  background-color: #383538;
  position: relative;
}
#sidebar h3 {
  font-size: 1.1em;
}
#sidebar ul {
  list-style-type: none;
  margin: 1em 0 0 0.5em;
  display: block;
  float: left;
  padding: 0;
}
#sidebar li {
  margin: 0.5em 0 0 0;
  padding: 0.5em 0;
}
#sidebar a,
#sidebar a:visited {
  color: white;
  text-decoration: none;
}
#sidebar a:hover {
  text-decoration: underline;
}
#sidebar img {
  display: block;
  vertical-align: middle;
  float: left;
  margin-right: 0.7em;
}
#sidebar #job-count {
  display: inline;
  color: #ccc;
}
#about {
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 335px;
  background: url(/images/sidebar-bottom.png) left bottom no-repeat;
  z-index: 100;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}
#about .text {
  position: absolute;
  bottom: 0;
  height: 73px;
  padding: 10px 5px;
  font-size: smaller;
  text-align: center;
  vertical-align: bottom;
  color: white;
}
#about a,
#about a:visited {
  color: white;
  text-decoration: underline;
}

#content {
  background: transparent url(/images/coupler.png) repeat-y;
  background-position: 95% 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  min-height: 750px;
}

#breadcrumbs {
  position: relative;
  color: #383538;
  padding: 1em;
}
#breadcrumbs .crumb {
  float: left;
  font-size: 1.7em;
  margin-right: 0.5em;
}

#notice {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 1em;
  background-color: green;
  color: white;
  margin-bottom: 1em;
  text-align: center;
}
#notice a,
#notice a:visited {
  color: white;
}

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  font-size: smaller;
  text-align: center;
  opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }
#tooltip h3 {
  font-size: 1em;
  font-weight: bold;
  border-bottom: 0;
}
#tooltip ul {
  margin-bottom: 0;
  list-style-type: square;
}

.errors {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 2px solid red;
  background: #eee;
  float: left;
  margin-bottom: 1em;
}
.errors h3 {
  font-size: 1.1em;
  background-color: red;
  color: white;
  margin: 0;
  padding: 0.3em;
  border: 0;
}
.errors ul {
  padding: 0.5em;
  margin-bottom: 0;
  list-style-type: square;
}
.errors li {
  margin-left: 1.5em;
}

h1, h2, h3 {
  font-weight: normal;
}
h1 {
  border-bottom: 2px solid black;
}
h2 {
  font-size: 1.5em;
  border-bottom: 1px solid black;
}
h3 {
  font-size: 1.3em;
  border-bottom: 1px dashed black;
}

a {
  color: #AE3B3A;
}
a:visited {
  color: #AE3B3A;
}

label {
  font-weight: bold;
}

.inner {
  padding: 1em;
}

table.form td {
  padding: 0.3em 0 0.3em 1em;
}
table.form td.left {
  padding-right: 1em;
  vertical-align: top;
}

table.list th {
  border-bottom: 2px solid gray;
  padding: 0.5em;
}
table.list td {
  padding: 0.5em;
}
table.list img {
  vertical-align: middle;
}

table.show td {
  padding: 3px;
}
table.show td.col1 {
  text-align: right;
  padding-right: 6px;
}

tr.alt td {
  background-color: #eee;
}
tr.yellow td {
  background-color: #FFFF66;
}
tr.yellow.alt td {
  background-color: #eeee55;
}
tr.green td {
  background-color: green;
}

input, select, textarea {
  border: 1px solid gray;
}

.section {
  padding: 0 0 0 1.5em;
  margin: 1em 0;
  overflow: auto;
}

.ui-dialog-content p,
.ui-dialog-content table {
  margin-bottom: 0;
}

.t12n-count { display: inline; }
.pointer { cursor: pointer; }
.inline { display: inline; }
.strong { font-weight: bold; }
div.p { margin-bottom: 20px; }
