<% @breadcrumbs = [@project] %>
<%= form_tag_for(@project, :base_url => "/projects") %>
  <p>
    <label for="name">Name</label><br/>
    <input id="name" name="project[name]" value="<%= @project.name %>" type="text" />
  </p>
  <p>
    <label for="description">Description</label><br/>
    <input id="description" name="project[description]" value="<%= @project.description %>" type="text" />
  </p>
  <p>
    <input type="submit" value="Submit" /> or <a href="/projects">Cancel</a>
  </p>
</form>
