<% @breadcrumbs = ["Projects"] %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @projects.each_with_index do |project, i| %>
  <tr<% " class='alt'" if i % 2 == 1 %>>
    <td><a href="/projects/<%= project.id %>"><%= project.name %></a></td>
    <td><%= project.description %></td>
  </tr>
  <% end %>
</table>
<p>
  <a href="/projects/new">New Project</a>
</p>
