<% @breadcrumbs = [@project, @scenario] %>
<% if flash[:newly_created] %>
<div id="notice">
  Scenario successfully created!  Next you'll need to add matchers.
</div>
<% end %>

<h2>Matchers</h2>
<div class="section">
  <%= erb(:"matchers/list", :layout => false) %>
  <p>
    <a href="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>/matchers/new">Add matcher</a>
  </p>
</div>
