<% @breadcrumbs = [@project] %>
<form method="post" action="/projects">
  <p>
    <label for="name">Name</label><br/>
    <input id="name" name="project[name]" type="text" />
  </p>
  <p>
    <label for="description">Description</label><br/>
    <input id="description" name="project[description]" type="text" />
  </p>
  <p>
    <input type="submit" value="Submit" /> or <a href="/projects">Cancel</a>
  </p>
</form>
