<% if flash[:newly_created] %>
<div id="notice">
  Project successfully created!

  You'll need to <a href="/projects/<%= @project.slug %>/resources/new">add a resource</a> next.
</div>
<% end %>

<h1>Project : <%= @project.name %></h1>

<%= erb(:"resources/list", :layout => false) %>
