<section class="files">
  <header>
    <h2>Files</h2>
  </header>

  <% if @files.empty? %>
    <p>There aren't any files yet.</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Filename</th>
          <th>Col Sep</th>
          <th>Row Sep</th>
          <th>Quote Char</th>
        </tr>
      </thead>
      <tbody>
        <% @files.each do |file| %>
          <tr>
            <td><%= file.filename %></td>
            <td><%= file.col_sep.inspect %></td>
            <td><%= file.row_sep.inspect %></td>
            <td><%= file.quote_char.inspect %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <section class="form">
    <header>
      <h3>Upload file</h3>
    </header>

    <form action="/files" method="post" enctype="multipart/form-data">
      <p>
        <label>File: <input type="file" name="file[upload]" /></label>
      </p>
      <p>
        <label>
          Column separator:
          <select name="file[col_sep]">
            <option value=",">comma</option>
            <option value="&#09;">tab</option>
            <option value=";">semicolon</option>
          </select>
        </label>
        <label>
          Row separator:
          <select name="file[row_sep]">
            <option>auto</option>
            <option value="&#10;">\n (unix, mac)</option>
            <option value="&#13;&#10;">\r\n (windows)</option>
            <option value="&#13;">\r (older macs)</option>
          </select>
        </label>
        <label>
          Quote character:
          <select name="file[quote_char]">
            <option value='"'>double quote</option>
            <option value="'">single quote</option>
          </select>
        </label>
      </p>
      <p>
        <input type="submit" />
      </p>
    </form>
  </section>
</section>
