<!DOCTYPE html>
<html>
  <head>
    <title>Coupler</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/text.css" type="text/css" />
    <link rel="stylesheet" href="/css/960.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery.treeview.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/lotus.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>
  <body>
    <div id="notifications"><ul></ul></div>
    <div id="main" class="container_16">

      <div id="sidebar" class="grid_3">
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/connections">Connections</a></li>
          <li><a href="/transformers">Transformers</a></li>
          <li><a href="/jobs">Jobs</a></li>
        </ul>
      </div>

      <div id="content" class="grid_13">
        <%#= breadcrumbs %>
        <div class="inner">
          <!--
          <%#- if flash[:notice] -%>
          <div id="notice"<%#= " class='#{flash[:notice_class]}'" if flash[:notice_class] %>><%#= flash[:notice] %></div>
          <%#- end -%>
          -->
          <%= yield %>
        </div>
      </div>
      <div class="clear"></div>

      <div id="about">
        <div class="text">
          Coupler is open source software.<br/>
          View the source <a href="http://github.com/coupler/coupler">here</a>.
        </div>
      </div>
    </div>
  </body>
</html>
